@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client
@using HairSalon.Models

<div class="jumbotron">
  <h3>Details</h3>
</div>
<hr />
<h4>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h4>
<p>@Html.DisplayNameFor(model => model.Stylist.Name): @Html.DisplayFor(model => model.Stylist.Name)

<p>@Html.ActionLink("Back to List", "Index")</p>
<p>@Html.ActionLink("Edit Client", "Edit", new { id = Model.ClientId})</p>
<p>@Html.ActionLink("Delete Client", "Delete", new { id = Model.ClientId})</p>