@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client

<div class="jumbotron">
  <h3>Editing @Model.Name</h3>
</div>

@using (Html.BeginForm())
{
  <h4>@Html.HiddenFor(model => model.ClientId)

  @Html.LabelFor(model => model.Name)
  @Html.EditorFor(model => model.Name)

@Html.LabelFor(model => model.Stylist):
  @Html.DropDownList("StylistId")</h4>

  <input type="submit" value="Save" class="btn" />
}

<h5>@Html.ActionLink("Back to Client List", "Index")</h5>